*{
    text-align: center;
}
body{
     background-image: linear-gradient(120deg, #e2c35d, #d88771);
     color: white;
     min-height: 100vh;
}
button{
    background-color: rgb(195, 236, 195);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    width: 100px
    font-size: 1.5rem;
}
h1{
    color: rgb(219, 39, 75);
    font-family: Arial, Helvetica, sans-serif;
    margin-top:50px ;
}




