*{
    text-align: center;
}
body{
     background-image: linear-gradient(120deg, #8d31bb, #d88771);
     color: white;
     min-height: 100vh;
}
button{
    background-color: rgb(60, 26, 163);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    width: 100px;
    color: white;
}
h1{
    color: rgb(39, 8, 82);
    font-family: Arial, Helvetica, sans-serif;
    margin-top:50px ;
    margin-bottom: 50px;
}
